.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Informes Detalle
      .panel-body
        
        .row
          .col-md-6
            %br  
            %h3 Detalle Vtas por usuario
        .row    

          .col-md-6
            = label_tag :filter_mes, 'MES'
            = select_tag :filter_mes, options_for_select(User.mes_options_for_select, @mes), prompt: @mes, class: "form-control" 
        .row
          %br    
          .col-md-6    
            = link_to 'Exportar Excel', admin_vta_origen_toxls_path(format: :xls, mes: @mes),class: 'btn btn-info'



